body {
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    background-size: cover;
    min-height: 100vh; 
}

  #doggos thead,
  #doggos th {
    text-align: center;
    color:black !important;
}

.dt-center {
  font-weight: bold;
  font-size: larger;
}

#doggos_wrapper {
  display: block;
}

label {
  display: inline-block;
  margin: 25px;
}

.floating-btn {
  background-color: #AFC7D0;
  width: 70px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  vertical-align: middle;
  font-size: 50px;
  text-align: center;
  line-height: 70px;
  border-radius: 100%;
}

.floating-btn:hover {
  background-color: pink;
}

a {
  font-family: 'Thasadith', sans-serif;
  font-weight: 700; 
  color: whitesmoke !important; 
  text-transform: uppercase; 
}
