#messages {
    margin: 70px;
    overflow: scroll;
    height: 300px;
    font-size: 20px;
    background-color: #FAF3DD;
    border-radius: 5px;
}

.talk {
    width: 280px;
    height: 50px;
    border-radius:25px;
}

#submit {
    background-color: #a3d668;
}  

body {
    background: url('../img/doggo.jpg');
    background-size: cover;
    height: 100%;
}

.btn {
	transition: .2s all ease-in-out;
	text-transform: uppercase;
	border-radius: 35px;
	line-height: 50px;
	border: none;
	padding: 0 35px;
	background: none;
    cursor: pointer;
    margin-right: 40px;
}

.btn:focus {
	transform: scale(1.1);
	outline: none;
	box-shadow: none;
}

input[type=text] {
    height: 50px;
    width: 45%;
    border-radius: 5px;
    margin-left: 70px;
    border: none;
    padding: 0 0.5em 0 0.5em;
    transition: all 0.7s;
    zoom: 100%
}
